/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@font-face {
	font-family: 'Conv_NeutraText-Light';
	src: url('fonts/NeutraText-Light.eot');
	src: local('☺'), url('fonts/NeutraText-Light.woff') format('woff'), url('fonts/NeutraText-Light.ttf') format('truetype'), url('fonts/NeutraText-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {width:640px; margin: 0 auto; font-family:'Conv_NeutraText-Light';}